<app-loader [showloader]=showloader></app-loader>
<section class="dashboard-body">
    <div class="container-fluid">
        <div class="top-col">
            <h5 class="head-text color-green">Category List</h5>
        </div>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper" *ngIf="categoryList.length > 0">
                    <table class="table table-striped table-bordered table-sm row-border hover" style="text-align: center;" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th style="width: 20%">Name</th>
                                <th style="width: 45%">Description</th>
                                <th style="width: 10%">Total Products</th>
                                <th style="width: 10%">Image</th>
                                <th style="width: 15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of categoryList; let i = index" [ngStyle]="{'display':item.data.isDeleted === 1 ? 'none' : '' }">
                                <td>{{item.data.name}}</td>
                                <td [innerHtml]="(item.data.description.length > 200)? (item.data.description | slice:0:200)+'...' : (item.data.description)"></td>
                                <td>{{item.products.length}}</td>
                                <td>
                                    <ng-container *ngIf=item.data.image>
                                        <img style="width: 100px;" [src]="item.data.image" />
                                    </ng-container>
                                </td>
                                <td>
                                    <button class="btn btn-raised btn-primary btn-sm" (click)="editCategory(item)">Edit</button> &nbsp;
                                    <button class="btn btn-raised btn-danger btn-sm" (click)="confirmDelete(item.id, i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>